<div class="row">
  <div class="span6">
    <h1>Try to identify this color!</h1>
    <% if @difficulty == 'easy' %>
      <p>Give your answer in the form of a 3-digit hex code (all the codes at this level are composed of 0's and f's)</p>
    <% elsif @difficulty == 'medium' %>
      <p>Give your answer in the form of a 3-digit hex code (all the codes at this level are composed of 0's, 7's and f's)</p>
    <% elsif @difficulty == 'hard' %>
      <p>Give your answer in the form of a 3-digit hex code (all the codes at this level are composed of 0's, 4's, 9's and f's)</p>

    <% end %>

    <%= form_tag(colors_score_path, method: "post", remote: true) do %>
      <%= text_field_tag(:players_rgbvalue) %>
      <%= hidden_field_tag(:computer_color_id, @computer_color.id) %>
      <%= submit_tag("Submit") %>
    <% end %>
  </div>
  <div class="span5 offset1 score-content">
  </div>
</div>