<h1>A quick guide to RGB hex codes</h1>
<p>In computer applications, color is often specified using a three or six digit hex code. The shorthand three digit form is somewhat simpler and is what we explore in this app. </p>
<p>Using three hexadecimal digits, we can express 16*16*16 = 4096 different colors. Each digit can take on 16 different values: 0 1 2 3 4 5 6 7 8 9 a b c d e f. The first digit represents red; the second green; and the third blue. 0 is the most dark; f is the most light. Thus
<span class="black">  000 is  black</span>;
 <span class="white">   fff is white</span>;
 <span class="red">   f00 is red</span>;
 <span class="green">  0f0 is green</span>;
 <span class="blue">  00f is blue</span>.
</p>
<p>
Color combines on a computer by mixing light, i.e., additively. This results in combinations that may be surprising if one is used to thinking of color combining subtractively, e.g., like mixing paints. </p>
<p>The biggest surprise is probably that red light plus green light gives yellow, so <span class="yellow">ff0 is yellow</span>. Green light plus blue light gives cyan (or blue-green), so <span class="cyan">0ff is cyan</span>. Finally, red light plus blue light gives magenta, so <span class="magenta">f0f is magenta</span>.
</p>
<p>

  (See for example <a href="http://en.wikipedia.org/wiki/RGB_color_model">this Wikipedia article</a> for further details about the RGB color model).
  </p>