/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.hex-ui {
  background: image-url("testW.jpg") top center no-repeat;
  background-size: cover;
  padding: 0px;
   border: 15px solid #f0f0f6;
      -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
   border-radius: 15px;
   margin: 15px 15px 0px 15px;
/*  opacity: .03;*/
}
.myclass {
  opacity: .95;
  color: #000;
  padding: 40px 0px 70px 0px;
  margin-top: -20px;
  margin-bottom:-1px;
}
.color-box{
  width: 300px;
  height: 80px;
    border: 1px solid #000;}

.big-type{
   font-size: 24px;
   font-weight: bold;
}
  .score-content{
    display: none;
  }

  .navbar-inverse .nav .score-bar {
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: 3px;
  margin-left: 100px}

  .navbar-inverse .nav .help {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 100px}

  .black {background-color: #000; color: #fff;}
  .white {background-color: #fff; color: #000;
    border: 1px solid #000;}
  .red {background-color: #f00; color: #fff;}
  .green {background-color: #0f0; color: #000;}
  .blue {background-color: #00f; color: #fff;}
  .cyan {background-color: #0ff; color: #000;}
.yellow {background-color: #ff0; color: #000;}
.magenta {background-color: #f0f; color: #000;}
.orange {background-color: #f70; color: #000;}

  .help p{
    font-size: 16px;
  }
  .about p{
    font-size: 14px;
  }

  .about{
    padding-top: 10px;
    padding-left: 30px;
  }

